body{
text-align:center;
}

#box{

display:block;
width:500px;
margin:50px;
padding:15px;
text-align:center;
border:9px solid blue;

background: red;
outline:7px solid yellow;
opacity:0.01;
-webkit-transform:translate(20px,100px) rotate(0deg) scale(4.2);
-webkit-transition:-webkit-transform 2s,opacity 2s,background 2s,width 2s;


}

#box:hover{
-webkit-transform:rotate(360deg);
opacity:1;
background: #ff22aa;
width:250px;
}



#text{
font:bold 30px Gotic;

}


//*-webkit-transform:scale(1,2);*//