/*
p:nth-child(odd){color:green;}  svako neparno oboji
p:nth-child(even){color:blue;}  eve svako parno
*/

*{color:red;} /* asterix * znaci oboji sve  */
:not(.ura){color:blue;} /*sve sto nije u ovoj klasi ura oboji u plavo*/