#s3 body{ 	background-color: #675c47;
}
#s1 {
			border:5px solid #000000;
			height:900px;
			width: 300px;
			padding: 0 ;
			margin-left:       10px;
			background-color :#f2cd15;
			background-repeat: repeat-x;
			line-height: 1;
			float: left;
			font: small/1em Arial, sans-serif;
}
#s1 h1{		text-align:        center;
}
#s1 h2{		text-align:        center;
}
#s1 p {      color: #bb0000;}
#s2{text-align:        center;
			border:5px solid #000000;
			height:900px;
			width: 300px;
			font: small/1em Arial, sans-serif;color: #bb0000;
        

			background-color :#f2cd15;
			background-repeat: repeat-x;
			line-height: 1;
			float: left;
}

#footer {
			background-color: #675c47;
			color:            #efe5d0;
			text-align:       center;
			padding:          1px;
			font-size:        90%;
			clear:           left;
			}
#f2 {
			background-color: #675c30;
			padding:          0px;

}
#all {
			width:            800px;
			padding-top:     0px;
			padding-bottom:   0px;			
			margin-left:  auto;
			margin-right: auto;
			background-color: #000000;
}
#an {
			position: fixed;
			top:      auto;
			left:     280px;
			z-index:  99;
}
.center{ text-align: center}
#s3{		text-align:        center;
			border:5px solid #000000;
			height:310px;
			width: 150px;
			margin-left:       10px;
			font: small/1em Arial, sans-serif;
			color: #bb0000;
      		background-color :#f2cd15;
			background-repeat: repeat-x;
			line-height: 1;
			float: left;
}
#award {
 
    position: absolute;
    top:      850px;
    left:     auto;
	z-index: 99;
}

