*{
      margin:0px;
      padding:0px;
}

h1{
     font: bold 20px Taxoma;
}
h1{
     font: bold 14 Taxoma;
}

header,section,article,hgroup,footer,nav,aside{
      display:block;
}

body{
      width:100%;
	  display:-webkit-box;
	  /*-webkit-box-pack: center;*/
	  -webkit-box-pack: left;
	}
	#story{
	background: #11ffaa;
	display:-webkit-box;
	-webkit-box-orient: horizontal;
	border:3px solid black;
	padding:20px;
	font: bold 14 Taxoma;
	}
	#story p{
	background: #11ffaa;
	border:3px solid black;
	font: bold 14 Taxoma;
	}
	
	
    #story h1{
	background: #ff3322;
	border:3px solid black;
	padding:0px;
	font: bold 14 Taxoma;
	}
	
	
	#top_title_box{
	background: #2255ff;
	border:3px solid black;
	padding:0px;
	font: bold 14 Taxoma;
	}
	
	#new_story {
	max-width: 1000px;
	margin:20px 0px;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	
	
	}

	
	
	#header{
	background: yellow;
	border:3px solid black;
	padding:20px;
	
	}
		#sex{
	background: #afbacf;
	border:3px solid black;
	padding:20px;
	
	}
	#menu{
	background: blue;
	border:red;
	color:white;
	
	}
	
	#menu li{
	display:inline-block;
	list-style:none;
	font: bold 14 Taxoma;
	
	}