
#mainbox{
border:2px solid blue;
display:-webkit-box;
-webkit-box-orient:horizontal;
width:700px;
-webkit-box-pack: center;
height:300px;
-webkit-box-align:center;


}
#box1{
background:yellow;
padding: 20px;
border: 2px solid black;
margin: 10px;
-webkit-box-flex:1;

width:60px;
height:100px;
}
#box2{
background:red;
padding: 20px;
border: 2px solid black;
margin: 10px;

width:60px;
-webkit-box-flex:1;
height:100px;

}
#box3{
background:green;
padding: 20px;
border: 2px solid black;
margin: 10px;
-webkit-box-flex:1;
-webkit-box-ordinal-group:4;
height:100px;

}
#box4{
background:blue;
padding: 20px;
border: 2px solid black;
margin: 10px;
width:60px;
-webkit-box-flex:1;
height:100px;
}